
MQTTProducer/MQTTProducer/MQTTProducer.Android/bin
MQTTProducer/MQTTProducer/MQTTProducer/bin
MQTTProducer/MQTTProducer/MQTTProducer.Android/obj
MQTTProducer/MQTTProducer/MQTTProducer/obj
MQTTProducer/.vs/MQTTProducer/DesignTimeBuild
